/*
#1 = 0099cc
#2 = ffff66

#0099cc
#33ccff
*/
a {
	color: #0099cc;
}
a:hover {
	color: #33ccff;
}

/* menu */
.nav>li>a:hover {
	color: #33ccff;
}

.navbar .navbar-nav > .active > a {
	color: #33ccff;
}

/* flexslider */
.flex-control-paging li a {
	background: #0099cc;
}

.flex-direction-nav a:hover{
	background-color:#0099cc;
}

.testimonial span.author a {
	color: #33ccff;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #0099cc;
	box-shadow: 0 0 0 4px #0099cc;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #0099cc;
	box-shadow: 0 0 0 8px  #33ccff;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #0099cc;
}

/* btn */
.btn-theme {
  background: #33ccff;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #0099cc;
}
.btn-cta,.btn-cta.btn-lg {
  background: #0099cc;
  border-color: #33ccff;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #0099cc;
}

/* contact */
.validation {
	color: red;
}

/* footer */
.social-circle li a {
	background:#0099cc;
}

a.scrollup{
	background:#0099cc;
}

#sendmessage {
    color: green;
}

#errormessage {
    color: red;
}
